name: Mi Primer Pipeline

on:
  push:
    branches:
      - main   # Cuando subas código a la rama main

jobs:
  ejecutar-script:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar el código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Ejecutar script
        run: python script.py
